@import './utils/variables';
@import './utils/visually-hidden';

@import './base/common';
@import './base/container';

@import './components/modal-btn';
@import './components/social-list';
@import './components/backdrop';
@import './components/modal-window';
@import './components/modal-form';
@import './components/title';

@import './layout/header';
@import './layout/hero';
@import './layout/about';
@import './layout/work';
@import './layout/team';
@import './layout/clients';
@import './layout/footer';
@import './layout/filter';
@import './layout/project';
