.clients {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .clients {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}
.clients__title {
  @media screen and (max-width: 1199px) {
    margin-bottom: 30px;
    font-size: 28px;
    line-height: 1.17;
  }
}
.clients__title {
  @media screen and (min-width: 1200px) {
    margin-bottom: 50px;
  }
}
.clients__list {
  display: flex;
}
.clients__list {
  @media screen and (max-width: 1199px) {
    flex-wrap: wrap;
    margin: -15px;
  }
}
.clients__item {
  @media screen and (max-width: 767px) {
    width: calc((100% - 4 * 15px) / 2);
    margin: 15px;
  }
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    width: calc((100% - 6 * 15px) / 3);
    margin: 15px;
  }
  @media screen and (min-width: 1200px) {
    margin-right: 30px;
  }
}
.clients__link {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90px;
  background: transparent;
  border: 1px solid $main-logo-color;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);

  @media screen and (min-width: 1200px) {
    width: 170px;
  }
}
.clients__link {
  &:hover,
  &:focus {
    background: transparent;
    border: 1px solid $accent-color;
    outline: none;
  }
}

.clients__icon {
  width: 106px;
  height: 60px;
  fill: $main-logo-color;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  .clients__link:hover &,
  .clients__link:focus & {
    fill: $accent-color;
  }
}
