.header {
  background-color: $primary-white;
  border-bottom: 1px solid #ececec;
}
.header {
  &__container {
    display: flex;
    align-items: center;
  }
}
.navigation {
  display: flex;
  align-items: center;
}
.menu {
  display: flex;
  align-items: center;
  margin-left: 93px;

  & .menu__item:not(:last-child) {
    margin-right: 40px;
  }
}
.header {
  background-color: $primary-white;
  border-bottom: 1px solid #ececec;
}
.header__container {
  display: flex;
  align-items: center;
}

.navigation {
  display: flex;
  align-items: center;
}
.menu {
  display: flex;
  align-items: center;
  margin-left: 93px;

  & .menu__item:not(:last-child) {
    margin-right: 40px;
  }
}

.menu .menu__link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
}

.logo {
  font-family: $secondary-font;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: $logo-secondary-color;
  text-decoration: none;
}

.logo__first {
  color: $accent-color;
}

.menu__link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: $main-color;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: $accent-color;
  }
}
.current {
  position: relative;

  &::after {
    position: absolute;
    left: 0;
    bottom: 0;
    display: block;
    content: '';
    height: 4px;
    width: 100%;
    border-radius: 2px;
    background-color: $accent-color;
  }
}

.menu__link.current {
  color: $accent-color;
}
.contact {
  display: flex;

  & .contact__item:not(:last-child) {
    margin-right: 30px;
  }
}
.contact__list {
  margin-left: 305px;
}
.contact .link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
}

.contact__item .link,
.contact__item .link {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: $secondary-text-color;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.link {
  &:hover,
  &:focus {
    color: $accent-color;
    outline: none;
  }
}
.contact__mail {
  width: 16px;
  height: 12px;
  margin-right: 10px;
  fill: currentColor;
  transition: fill;
}
.contact__tel {
  width: 10px;
  height: 16px;
  margin-right: 10px;
  fill: currentColor;
  transition: fill;
}
