.work {
  padding-top: 47px;
  padding-bottom: 94px;
}
.work__list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}
.work__title {
  margin-bottom: 50px;
}
.work__list .work__item {
  margin-left: 30px;
  margin-top: 30px;
}
.work__item {
  position: relative;
}
.work__card {
  position: absolute;
  bottom: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 370px;
  height: 70px;
  background: rgba(47, 48, 58, 0.8);
  padding-top: 27px;
  padding-bottom: 27px;
}
.work__text {
  font-weight: 700;
  line-height: 1.14px;
  text-align: center;
  text-transform: uppercase;
  color: $primary-white;
}
