.social-list {
  display: flex;
  justify-content: space-between;
}
.social-list__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  background: transparent;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: $accent-color;
    outline: none;
  }
}
.social-list__icon {
  width: 20px;
  height: 20px;
  fill: $main-logo-color;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  .social-list__link:hover &,
  .social-list__link:focus & {
    fill: $primary-white;
  }
}
